* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.container {
  margin: 0 48px;
}
.navbar {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-ul {
  display: flex;
}
.navbar-ul-li {
  margin: 0 20px;
}
.logo-span {
  font-size: 26px;
  font-weight: 500;
  color: #1e212c;
}
.navbar-ul-li-a {
  color: #1e212c;
  font-size: 18px;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
}
.registration-ul {
  display: flex;
}
.reg-ul-li {
  margin: 0 20px;
}
.registration-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #1e212c;
  color: #fff;
  cursor: pointer;
}
.reg-ul-li-a {
  color: #1e212c;
}
.images__wrapper {
  display: flex;
  justify-content: space-between;
}
.images__wrapper__column__one {
  width: 30%;
}
.images__wrapper__column__two {
  width: 30%;
}
.images__wrapper__column__three {
  width: 30%;
}
.img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}
